.header 
    .logo
        img(src="./asset/images/tu-logo.png", alt="logo") 
        span Tkun
    .service 
        a(href="#").home HOME
        a(href="#").address ADDRESS
        a(href="#").about ABOUT
        a(href="#").product PRODUCT
            ul 
                li 
                li 
                li 
                li
    .author
        button.button.register 
            a(href="#") Register
        button.button.login
            a(href="./login.html")  Login