extends ./layout

include mixins 

block main
    .banner 
        img(src="./asset/images/anh1.png", alt="anh1")
        img(src="./asset/images/anh2.png", alt="anh2")
        img(src="./asset/images/anh3.png", alt="anh3")
        img(src="./asset/images/anh4.png", alt="anh4")
        img(src="./asset/images/anh5.png", alt="anh5")
        img(src="./asset/images/anh6.png", alt="anh6")
    include ./member

