.members-list
   +memberItem("https://images2.alphacoders.com/516/thumbbig-516664.webp", "Luffy", "Mũ Rơm", "3.000.000.000 Beli" )
   +memberItem("https://images.alphacoders.com/846/thumbbig-84631.webp", "ACE", "Hỏa Quền", "500.000.000 Beli" ) 
   +memberItem("https://images3.alphacoders.com/131/thumbbig-1313891.webp", "Zoro", "Mũ Rơm", "1.111.000.000 Beli" ) 
   +memberItem("https://images5.alphacoders.com/710/thumbbig-710895.webp", "law", "Băng tàu ngầm", "3.000.000.000 Beli" ) 
   +memberItem("https://images4.alphacoders.com/131/thumbbig-1314529.webp", "Mihawk", "Bugger", "3.590.000.000 Beli" ) 
   +memberItem("https://images2.alphacoders.com/130/thumbbig-1306189.webp", "Uta", "Không xác định", "??? Beli" ) 
   +memberItem("https://images3.alphacoders.com/130/thumbbig-1305207.webp", "D.Teach", "Râu đen", "3.996.000.000 Beli" ) 
   +memberItem("https://images5.alphacoders.com/131/thumbbig-1312630.webp", "Brok", "Mũ Rơm", "83.000.000 Beli" ) 
